PORT=80
HAOS_URL=http://192.168.10.244:8123
HAOS_TOKEN=pegar_aqui_long_lived_token
AUTH_USER=admin
AUTH_PASS=cambiar_esto
SESSION_SECRET=
PRICE_IMPORT_EUR=0.15
PRICE_EXPORT_EUR=0.08
CO2_KG_PER_KWH=0.25
